h1 {
    font-size: 100px;
    text-align: center;
    color:#f2d50f;
    border-bottom: 5px solid #0A1B2A;
    padding: 70px 0px 100px 0px;
    margin-bottom: 0px;
}
h1 > a {
    text-decoration:none;
    color:#f2d50f;
}
#list1 a { 
    text-decoration:none;
    
}
#list1 li {
    font-size: 50px;
    display: inline;
    

}
#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
#grid a {
    color: teal;
}
img {
    display: inline-block;
    align-content: center;
}